.Header {
    padding: 10px 20px 10px 25px;
    background-color: #a6a6a6;
    text-align: left;
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 35px;
    font-weight: bold;
    box-shadow: 0 0 15px rgb(40,40,40);
}

.Main {
    color: white;
}

.Footer {
    box-shadow: 0 0 15px rgb(40,40,40);
    line-height: 25px;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
    overflow: hidden;
    text-shadow: 0 0 5px black;
    font-weight: bold;
    background-color: #a6a6a6;
}

.Title {
    display: flex;
    flex-direction: row;
    text-align: left;
    line-height: 55px;
    margin: 0px;
}

.Logo {
    float: left;
    padding-top: 5px;
    margin-right: 20px;
}

@media only all and (max-width: 800px) {
    .Logo {
        padding-top: 35px;
    }
}